html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-color: #f0f0f0;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Main Style */
.container {
    max-width: 960px;
    margin: 0 auto;
}

.main-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article-body, .sidebar {
    background: #fff;
    padding: 20px;
    width: 100%;
    margin-bottom: 2px;
}

.sidebar li {
    display: flex;
}

.sidebar li a {
    color: black;
    font-weight: bold;
    line-height: 1.5em;
    font-size: 14px
}

.sidebar li:before {
    content: "■";
    color: #fecc01;
    padding-right: 6px;
    display: block;
}

.toast-notification {
    width: 80% !important;
}

.toast-notification span {
    border-radius: 4px !important;
    margin-top: 10px;
    font-family: monospace;
    font-size: 13px;
}

a {
    text-decoration: none;
    box-shadow: none;
}

.article-head {
    background: #feebef;
    padding: 20px;
    margin: -20px;
}

.article-head h1 {
    font-family: monospace;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5em;
}


.article-head p {
    font-family: monospace;
    line-height: 1.5em;
}

.article-head h1 span {
    display: block;
    font-family: unset;
    font-size: 20px;
}

@media screen and (min-width: 700px) {
    .article-body {
        background: #fff;
        padding: 20px;
        width: 55%;
    }
    
    .container {
        padding: 20px;
    }
    .sidebar {
        background: #fff;
        flex: 1;
        margin-left: 20px;
        padding: 20px;
        height: 20%;
    }
}